{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            {% include "base_page_title.html" %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="{% url 'addusers:update' user.id %}">
                                        {% csrf_token %}

                                        <div class="form-group row">
                                            <label for="id_name" class="col-4 col-form-label">Nama</label>
                                            <div class="col-7">
                                                <input type="text" name="name" id="id_name" required=""
                                                    class="form-control" placeholder="Masukan Nama Lengkap"
                                                    value="{{ user.name }}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="id_position" class="col-4 col-form-label">Posisi</label>
                                            <div class="col-7">
                                                <select name="position" id="id_position" required class="form-control">
                                                    {% for position in position %}
                                                        <option value="{{ position.id }}" {% if position.id == user.position.id %}selected{% endif %}>{{ position }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="id_mobile" class="col-4 col-form-label">Mobile</label>
                                            <div class="col-7">
                                                <input type="text" name="mobile" id="id_mobile" required=""
                                                    class="form-control" placeholder="Mobile"
                                                    value="{{ user.mobile }}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="id_email" class="col-4 col-form-label">Email</label>
                                            <div class="col-7">
                                                <input type="email" name="email" id="id_email" required=""
                                                    class="form-control" placeholder="Email"
                                                    value="{{ user.email }}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="id_password" class="col-4 col-form-label">Password</label>
                                            <div class="col-7">
                                                <input type="password" name="password" id="id_password" required=""
                                                    class="form-control" placeholder="Password"
                                                    value="{{ user.password }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-7 offset-4">
                                                <input type="checkbox" onclick="togglePasswordVisibility()"> Show Password
                                            </div>
                                        </div>

                                        <ul class="list-inline wizard mt-3">
                                            <li class="previous list-inline-item">
                                                <a href="{% url 'addusers:index' %}">
                                                    <button type="button" class="ladda-button btn btn-info"
                                                        data-style="slide-right"><i
                                                            class="mdi mdi-backspace-outline"></i> Back
                                                    </button>
                                                </a>
                                            </li>
                                            <li class="next list-inline-item">
                                                <button type="button" class="btn btn-success waves-effect waves-light"
                                                    data-toggle="modal" data-style="slide-right"
                                                    data-target=".bs-example-modal-center{{user.id}}"><i
                                                        class="mdi mdi-content-save-outline mr-1"></i> Save</button>
                                                <div class="modal fade bs-example-modal-center{{user.id}}" tabindex="-1"
                                                    role="dialog" aria-labelledby="myCenterModalLabel"
                                                    aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myCenterModalLabel">Are you
                                                                    sure
                                                                    to save?</h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">×</button>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                    class="btn btn-secondary waves-effect"
                                                                    data-dismiss="modal">Close</button>
                                                                    <button type="submit"
                                                                        class="btn btn-success waves-effect waves-light"
                                                                        data-style="slide-right"><i
                                                                            class="mdi mdi-delete"></i> Save</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            </li>
                                        </ul>

                                    </form>
                                </div> <!-- end col -->

                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->

    {% include "base_footer.html" %}

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

<!-- Save Confirmation Modal -->
<div class="modal fade" id="saveConfirmationModal" tabindex="-1" role="dialog"
    aria-labelledby="saveConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveConfirmationModalLabel">Are you sure to save?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect"
                    data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success waves-effect waves-light"
                    data-style="slide-right">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('id_password');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    }
    </script>

{% endblock %}
